.footer__container {
    display: flex;
    background-color: var(--light-gray);
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 12px;
}

.logo{
    width: 44px;
    height: 44px;
}