.form {
  width: 500px;
  display: flex;
  /* gap: 8px; */
  justify-content: left;
  margin-top: 50px;
  margin-bottom: 30px;
}

.input {
  width: 100%;
  border-radius: 4px 0px 0px 4px;
  outline: none;
  border: 1px solid grey;
  padding-left: 8px;
}

.btn {
  width: 200px;
  background-color: red;
  color: white;
  border-radius: 0 4px 4px 0;
  border: 1px solid #c03838;
}

.btn:hover,
.input:hover,
.input:active {
  border: 1px solid rgb(121, 34, 34);
}
